body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 1120px;
}

.el-icon-success:before {
    color: #67c23a;
}

.el-icon-error:before {
    color: #f56c6c;
}
.el-menu {
    border: none !important;
    background-color: #304156 !important;
}
.el-menu .el-menu-item{
    color:#fff !important;
}
.el-menu .el-menu-item.is-active{
    color: aquamarine !important;
    background-color: #bb4d0d !important;
}

.el-menu .el-menu-item:hover{
    background-color: #2f4c70;
}
.el-menu .el-submenu .el-menu-item{
    background: #1f2d3d !important;

}
.el-menu .el-submenu .el-menu-item:hover {
    background-color: #001528 !important;
}

.slide-fade-enter-active {
    transition: all .4s ease;
}
.slide-fade-leave-active {
    display: none;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(20px);
    opacity: 0;
}
.el-breadcrumb{
    display: inline-block;
}
.el-form{
    width: 500px;
}
.el-row{
    margin-bottom:20px ;
}
#app .el-dialog {
    width: 600px;
}